# Data Science Tools and Ecosystem

## Author
Michael

__Objectives:__
* List popular languages for Data Science
* List popular databases for Data Science
* Learn more about Jupyter Notebooks

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. scikit-learn
3. matplotlib

| Data Science Tools |
|--------------------|
| MongoDB            |
| Hadoop             |
| Apache Spark       |

Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335